@import "util/whitespace";
@import "util/typography";

.form {
  display: flex;
  flex-direction: column;

  .form-field {
    > label {
      @extend %mbs;
      @extend %heading-5;

      display: block;
    }
  }
}

//textarea {
//  @extend %border-small;
//  width: $form-control-width;
//  height: 200px;
//  box-sizing: border-box;
//  font-weight: $input-font-weight;
//  padding: nth($pixelSizes, index($tShirtSizes, l));
//  resize: none;
//}
//
//input[type=date], input[type=text], input[type=number] {
//  @extend %border-small;
//  box-shadow: none;
//  padding: $input-padding;
//  box-sizing: border-box;
//  font-weight: $input-font-weight;
//
//  &.error {
//    border-color: $error-1;
//  }
//}
//
//input[type='date'] {
//  color: $primary-2;
//
//  &:focus {
//    outline: none;
//  }
//
//  &:disabled {
//    color: $input-placeholder-color;
//  }
//}