@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,400,600,700');

button {
  @extend %text-body;

  font-family: 'Open Sans', sans-serif;
}

%type-weight-light {
  font-weight: 200;
}

%type-weight-medium {
  font-weight: 400;
}

%type-weight-heavy {
  font-weight: 600;
}

%type-weight-very-heavy {
  font-weight: 700;
}

%text-body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}